<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<title>Goodreads</title>
</head>
{%extends 'layout.html'%}

			{% block body %}

			<body>
				<p></p>
				<p></p>
				<h4>Here are the Goodreads Information:</h4>
				<p></p>
				<p></p>

					<p>{{res.json()}}</p>
					{% endblock %}

								</body>


</html>
