<!DOCTYPE html>
<html>
			<head>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
			<title>Home</title>
			</head>
			{% extends "layout.html" %}

			{% block body %}
			<body>
				<center><h3>Home</h3></center>
					{% if current_user.is_authenticated %}
					<h4>Search:</h4>
					<form method = "POST" action = "/search">
						<div class = "form-group">
							<input type = "text" name = "item">
						</div>

					<input class = "btn btn-primary" type = "submit" value="Search">
				</form>
				{% else %}
		      <p>Please login to search books</p>
		     {% endif %}

			</body>
			{% endblock %}

</html>
